minimap2
SquiggleKit
nanopolish
samtools
flappie
htslib
Data
Models/*.pyc
Models/__pycache__
testFiles/__pycache__
Fast5_indexing/__pycache__
SequenceGenerator/__pycache__
SignalExtractor/__pycache__
testFiles/__pycache__
SignalExtractor/*.pyc
*.pyc
refgenome.tar.gz
Homo_sapiens
refgenome
scrappie
notes.txt
ncbi-ref.fa.gz
hela.fast5
coli-ref.fa.fai

